Body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: White;
    color: black;
    font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif;
    font-weight: bold;
    background-image: url(http://sharpcvslib.sf.net/images/fish-3.jpg);
    background-repeat: no-repeat;
    background-position: center right;
}

.Title {
    background-color: #FFFFCC;
    color: Orange;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
}

.SubTitle {
    color: Orange;
    font-weight: bold;
    font-size: 14pt;
    text-align: left;
}

.Content {
    margin-right: 300px;
    margin-left: 10px;
}

.Sponsor{}
.Code{color: Maroon;font-weight: bold;}
.Warning{color: Red;font-weight: bold;}
.Label{font-weight: bold;}
.Notes{text-align: right;}
.Author{text-align: right;font-size: small;font-weight: bold;color: Red;}

.Navigation {
    background-color: #BD9C63;
    width: 100%;
    word-spacing: 10px;
    font-size:16px;
}
a:hover{background-color: #EFCE8C;}
a:visited{color: #AACC33;}
a:link{color: #CFCF13; font-weight:bold;}
