<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>		
	<log4net debug="true">
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net" >
			<param name="File" value="cvslib.tests.log" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c (%P{hostname}) [%x] - %m%n" />
			</layout>
		</appender>
		<root>
			<priority value="DEBUG" />
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
</configuration>
