<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0"/>
		<section name="sharpcvslib" type="ICSharpCode.SharpCvsLib.Config.SharpCvsLibConfigHandler, ICSharpCode.SharpCvsLib"/>
	</configSections>		
	<log4net debug="true">
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
			<param name="File" value="cvslib.tests.log" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c (%P{hostname}) [%x] - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
	<sharpcvslib type="ICSharpCode.SharpCvsLib.Config.SharpCvsLibConfig, ICSharpCode.SharpCvsLib">
	    <sharpcvslib-config>
	        <timeout>1000</timeout>
	        <auth-sleep>5000</auth-sleep>
	    </sharpcvslib-config>
	</sharpcvslib>
</configuration>
